/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/01/2019, 23:48:08
    Author     : maxiz
*/

.static-cart{
    position:fixed;
    bottom: 1rem;
    right: 1rem;


    @media (min-width: 768px) { 
        bottom: 3rem;
        right: 3rem;
    }
    .btn{
        width: 70px;
        height: 70px;
        padding: 10px 16px;
        border-radius: 35px;
        font-size: 24px;
        line-height: 1.33;
        text-align:center;
        display: flex;
        align-items: center;
        background:$primaryColor;


        &:after,&:before{
            display:none;
        }
    }
}

#cartModal{


    table{
        border: none;
        th{
            text-align: center;
            border-top:none;
            border-left:none;
            border-right:none;
        }
        
        td{
            text-align: center;
        }
    }
}